<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>Advanced Search</title>
    <!-- Latest compiled and minified CSS -->  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href="assets/css/green.css">
    <link rel="stylesheet" href="assets/css/common.css">
    <link rel="stylesheet" href="assets/css/style01.css">
</head>
<body>
<!--********************************************************************************************** -->
<!--**************************************Header Starts Here************************************** -->
<!--********************************************************************************************** -->
    <div class="header-top">
        <div class="container">
            <div class=" topbar">
                <div class="topheadd">
                    <ul>
                        <li><a href="#">26 Jobs</a></li>
                        <li>|</li>
                        <li><a href="#">20 Resumes</a></li>
                        <li>|</li>
                        <li><a href="#">17 Companies</a></li>
                        <li>|</li>
                        <li class="iconFa">
                            <a href="#" class=" fa fa-facebook "></a>
                        </li>
                        <li class="icongo">
                            <a href="#" class=" fa fa-google-plus"></a>
                        </li>
                        <li class=" iconli">
                            <a href="#" class=" fa fa-linkedin"></a>
                        </li>
                        <li class="iconti">
                            <a href="#" class="  fa fa-twitter"></a>
                        </li>
                        <li class="iconya">
                            <a href="#" class=" fa fa-rss"></a>
                        </li>
                    </ul>
                </div>
                <div class="loginregister">
                    <div class="register"></div>
                    <div class="login01"></div>
                </div>
            </div>
            <div class="headright">
                <div class="dropdown" style="float:right;">
                    <span class=" dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                        <span class="imgicon fa fa-caret-down"></span>
                    </span>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                        <li><a href="#">Create Group</a>
                        </li>
                        <li><a href="#">New Groups</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#"><span>Create Page</span><span class="rightttext">7</span></a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#">Create Ads</a>
                        </li>
                        <li><a href="#">Advertising on takeajob</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#"><span>Activity Log</span><span class="rightttext">3</span></a>
                        </li>
                        <li><a href="#">News Feed Preferences</a>
                        </li>
                        <li><a href="#">Settings</a>
                        </li>
                        <li><a href="#">Log Out</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#">Help</a>
                        </li>
                        <li><a href="#">Report a Problem</a>
                        </li>
                    </ul>
                </div>
                <div class="dropdown ras" style="float:right;">
                    <span class=" dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                        <span class="imgicon01 fa fa-th"></span>
                    </span>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1 taj-panel">
                        <li><a href="#">Create Group</a></li>
                        <li><a href="#">New Groups</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><span>Create Page</span><span class="rightttext">7</span></a></li>
                        <li class="divider"></li>
                        <li><a href="#">Create Ads</a></li>
                        <li><a href="#">Advertising on takeajob</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><span>Activity Log</span><span class="rightttext">3</span></a></li>
                        <li><a href="#">News Feed Preferences</a></li>
                        <li><a href="#">Settings</a></li>
                        <li><a href="#">Log Out</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Report a Problem</a></li>
                    </ul>
                </div>
                <div class="dropdown" style="float:right;">
                    <span class=" dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                        <span class="imgicon02 fa fa-globe"></span>
                    </span>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                        <li><a href="#">Create Group</a></li>
                        <li><a href="#">New Groups</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><span>Create Page</span><span class="rightttext">7</span></a></li>
                        <li class="divider"></li>
                        <li><a href="#">Create Ads</a></li>
                        <li><a href="#">Advertising on takeajob</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><span>Activity Log</span><span class="rightttext">3</span></a></li>
                        <li><a href="#">News Feed Preferences</a></li>
                        <li><a href="#">Settings</a></li>
                        <li><a href="#">Log Out</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Report a Problem</a></li>
                    </ul>
                </div>
                <div class="imagesrightnav">
                    <ul>
                        <li class="imgprofile">
                            <a href="#"><img src="assets/img/01.jpg"></a>
                        </li>
                        <li class="Imagname"><a href="#">Arun</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="headinn">
        <div class="container">
            <div class="logo">
                <img src="assets/img/logo.jpg">
            </div>
            <nav id="nav-main">
                <ul>
                    <li><a class="homer" href="#"><span class="fa fa-home" style=" padding-right:4px;color:#"></span>Home</a></li>
                    <li><a href="#"><span class="fa fa-files-o" style=" padding-right:4px;color:#;"></span>Pages</a></li>
                    <li><a href="#"><span class="fa fa-bullhorn" style=" padding-right:4px; color:#;"></span>Post a job</a></li>
                    <li><a href="#"><span class="fa fa-file-text-o" style=" padding-right:4px;color:#;"></span> Post a Resume</a></li>
                    <li><a href="#"><span class="fa fa-briefcase" style=" padding-right:4px;color:#;"></span> Companies</a></li>
                    <li><a href="#"><span class="fa fa-th-large" style=" padding-right:4px;color:#;"></span>Blog</a></li>
                    <li><a href="#"><span class="fa fa-phone" style=" padding-right:4px;color:#;"></span>Contact Us</a></li>
                </ul>
            </nav>
            <div id="nav-trigger">
                <span>Menu</span>
            </div>
            <nav id="nav-mobile"></nav>
        </div>
    </div>
<!--********************************************************************************************** -->
<!--**************************************Header Ends Here************************************** -->
<!--********************************************************************************************** -->
<!-- <div class="second_nav">
    <div class="container-fluid top">
        <div class="container">
            <nav class="navbar navbar-default" role="navigation" id="topmenu">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" data-toggle="collapse" data-target="#one">One</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" data-toggle="collapse" data-target="#two">Two</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" data-toggle="collapse" data-target="#three">Three</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="container-fluid bottom">
        <div class="container">
            <nav class="navbar navbar-default" role="navigation" id="submenu">
                <ul class="nav navbar-nav collapse" id="one">
                    <li><a href="#" id="">One sub 1</a></li>
                    <li><a href="#" id="">One sub 2</a></li>
                    <li><a href="#" id="">One sub 3</a></li>
                    <li><a href="#" id="">One sub 4</a></li>
                </ul>
                <ul class="nav navbar-nav collapse" id="two">
                    <li><a href="#" id="">Two sub 1</a></li>
                    <li><a href="#" id="">Two sub 2</a></li>
                    <li><a href="#" id="">Two sub 3</a></li>
                </ul>
                <ul class="nav navbar-nav collapse" id="three">
                    <li><a href="#" id="">Three sub 1</a></li>
                    <li><a href="#" id="">Three sub 2</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div> -->
<!--********************************************************************************************** -->
<!--**************************************Main Content Starts Here************************************** -->
<!--********************************************************************************************** -->
    <div class="profile-pages">
        <div class="container resume-fields-bg">
            <div class="custom_tabs_holder01">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#advanced_search">Advanced Search</a></li>
                    <li><a data-toggle="tab" href="#it_search">IT Search</a></li>
                    <li><a data-toggle="tab" href="#ez_search">EZ Search</a></li>
                    <li><a data-toggle="tab" href="#my_search">My Search</a></li>
                    <li><a data-toggle="tab" href="#role_search">Role Search</a></li> 
                    <li><a data-toggle="tab" href="#campus_search" id="ras">Campus Search</a></li>
                    <li class="btn-group" id="myDropdown">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                            Search by CV ID <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li style="padding:5px; font-size:12px;">
                                <input type="Text" class="form-control" id="" placeholder="Search by CV ID">
                                <button style="margin-top:5px;" type="button" class="btn btn-info">Search</button>
                            </li>
                        </ul>
                    </li>
                    <li id="myDropDown" class="dropdown">
                        <a id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
                            Dropdown <span class="caret"></span>
                        </a>
                        <ul style="padding:5px; width:191px;" id="myTabs" class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#personal_it" data-toggle="tab">Personal</a> </li>
                                <li><a href="#sheared-it" data-toggle="tab">Shared</a></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane active" id="personal_it">
                                    <ul class="list-style_c1">
                                        <li>Nothing Found</li>
                                        <li>Nothing Found</li>
                                        <li>Nothing Found</li>
                                    </ul>
                                </div>
                                <div class="tab-pane" id="sheared-it">
                                    <ul class="list-style_c1">
                                        <li>Nothing Found</li>
                                        <li>Nothing Found</li>
                                    </ul>
                                </div>
                            </div>
                        </ul>
                    </li>
<script type="text/javascript">
    $('#myTabs').on('click', '.nav-tabs a', function(){
    $(this).closest('.dropdown').addClass('dontClose');
})

$('#myDropDown').on('hide.bs.dropdown', function(e) {
    if ( $(this).hasClass('dontClose') ){
        e.preventDefault();
    }
    $(this).removeClass('dontClose');
});
</script>
                    <li class="btn-group" id="myDropdown">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                            Bookmarks <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li style="padding:5px; font-size:12px;">
                                <ul class="list-style_c1">
                                    <li>No Bookmarks</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="ez_search" class="tab-pane fade">
                        <div class="panel panel-default custom-panel">
                            <div class="panel-body">
                                <div class="form-group col-md-9">
                                    <input type="text" class="form-control" id="company_name" placeholder="You can specify Keywords, Experiences, Annual Salary and Locations.">
                                </div>
                                <div class="form-group col-md-3">
                                    <a class="btn btn-default" href="#"><i class="fa fa-search"></i> Find Resume</a>
                                </div>
                                Eg: Sales, delhi, 2-3 years, "Hr Manager" Mumbai, 5.5 lakhs to 7 lakhs, 3-4 Years "MechanicalEngineer" Java and j2ee and not C++  
                            </div>
                        </div>
                        <div class="help-block with-errors">
                            * Searches all candidates active in last 1 year sorted by Relevance
                        </div>
                        <h3>EZ Tips</h3>
                        <div class="panel-group custom-accordian01 add-border-bottom" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <p class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-ez-keywords">
                                          <span class="glyphicon glyphicon-plus"></span>
                                          Keywords
                                        </a>
                                    </p>
                                </div>
                                <div id="collapse-ez-keywords" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="list-style01">
                                            <li>For all the words users can specify boolean operators
                                                <ul>
                                                    <li>Java & J2EE</li>
                                                </ul>
                                            </li>
                                            <li>For all the words users can specify boolean operators
                                                <ul>
                                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis tristique dolor. Ut sit amet velit sed diam cursus vehicula at at arcu. </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-group custom-accordian01 add-border-bottom" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <p class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-ez-experience">
                                          <span class="glyphicon glyphicon-plus"></span>
                                          Experience
                                        </a>
                                    </p>
                                </div>
                                <div id="collapse-ez-experience" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="list-style01">
                                            <li>For all the words users can specify boolean operators
                                                <ul>
                                                    <li>Java & J2EE</li>
                                                </ul>
                                            </li>
                                            <li>For all the words users can specify boolean operators
                                                <ul>
                                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis tristique dolor. Ut sit amet velit sed diam cursus vehicula at at arcu. </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-group custom-accordian01 add-border-bottom" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <p class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-ez-annual_salary">
                                          <span class="glyphicon glyphicon-plus"></span>
                                          Annual Salary
                                        </a>
                                    </p>
                                </div>
                                <div id="collapse-ez-annual_salary" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="list-style01">
                                            <li>For all the words users can specify boolean operators
                                                <ul>
                                                    <li>Java & J2EE</li>
                                                </ul>
                                            </li>
                                            <li>For all the words users can specify boolean operators
                                                <ul>
                                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis tristique dolor. Ut sit amet velit sed diam cursus vehicula at at arcu. </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-group custom-accordian01 add-border-bottom" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <p class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-ez-locations">
                                          <span class="glyphicon glyphicon-plus"></span>
                                          Locations
                                        </a>
                                    </p>
                                </div>
                                <div id="collapse-ez-locations" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="list-style01">
                                            <li>For all the words users can specify boolean operators
                                                <ul>
                                                    <li>Java & J2EE</li>
                                                </ul>
                                            </li>
                                            <li>For all the words users can specify boolean operators
                                                <ul>
                                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis tristique dolor. Ut sit amet velit sed diam cursus vehicula at at arcu. </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
<!--********************************************************************************************** -->
<!--**************************************Main Content Ends Here************************************** -->
<!--********************************************************************************************** -->

<!--********************************************************************************************** -->
<!--**************************************Footer Starts Here************************************** -->
<!--********************************************************************************************** --> 
    <div class="bottopmfooter">
        <div class="container">
            <p>All rights reserved @ 2015 take a job</p>
        </div>
    </div>
<!--********************************************************************************************** -->
<!--**************************************Footer Ends Here************************************** -->
<!--********************************************************************************************** -->
  
    
    <script>
        $(document).ready(function() {
            $("#nav-mobile").html($("#nav-main").html());
            $("#nav-trigger span").click(function() {
                if ($("nav#nav-mobile ul").hasClass("expanded")) {
                    $("nav#nav-mobile ul.expanded").removeClass("expanded").slideUp(250);
                    $(this).removeClass("open");
                } else {
                    $("nav#nav-mobile ul").addClass("expanded").slideDown(250);
                    $(this).addClass("open");
                }
            });

        });
    </script>
    
    <script type="text/javascript">
        jQuery(function($) {
            $('.panel-heading span.clickable').on("click", function(e) {
                if ($(this).hasClass('panel-collapsed')) {
                    // expand the panel
                    $(this).parents('.panel').find('.panel-body').slideDown();
                    $(this).removeClass('panel-collapsed');
                    $(this).find('i').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
                } else {
                    // collapse the panel
                    $(this).parents('.panel').find('.panel-body').slideUp();
                    $(this).addClass('panel-collapsed');
                    $(this).find('i').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
                }
            });

            $('.taj-panel').click(function() {
                setTimeout(function() {
                    $('.ras').addClass("open");
                }, 10);

            });
        });
    </script>

    <script type="text/javascript">
        $('.markerDiv').click(function () {
            $('.marker_ckeckbox').attr("checked", false);
            $('.icheckbox_square-green').removeClass('checked');
            $(this).find('.marker_ckeckbox').prop("checked", true);   
            $(this).find('.marker_ckeckbox').parent().addClass('checked');
        });
         $('.markerDiv').first().trigger('click');
        $('input[type=checkbox]').click(function (a) {
            a.stopPropagation();
        });
    </script>

    <script type="text/javascript">
        $('.collapse').on('shown.bs.collapse', function() {
            $(this).parent().find(".glyphicon-plus").removeClass("glyphicon-plus").addClass("glyphicon-minus");
        }).on('hidden.bs.collapse', function() {
            $(this).parent().find(".glyphicon-minus").removeClass("glyphicon-minus").addClass("glyphicon-plus");
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('.selection_enable').prop('disabled', true);

            $('.chk_change_select').change(function(event) {
                /* Act on the event */
                if($(this).is(':checked')){
                    $('#'+$(this).data("id")).prop('disabled', false);
                }else{
                    $('#'+$(this).data("id")).prop('disabled', true);
                }
            });
        });
    </script>

    <script type="text/javascript">
        $('#myDropdown .dropdown-menu').on({
            "click": function(e) {
                e.stopPropagation();
            }
        });
    </script>
    /*
    <script type="text/javascript">
        $('.collapse').on('shown.bs.collapse', function(e) {
            $('.collapse').not(this).removeClass('in');
        });

        $('[data-toggle=collapse]').click(function(e) {
            $('[data-toggle=collapse]').parent('li').removeClass('active');
            $(this).parent('li').toggleClass('active');
        });
    </script>
    */
    <script>
        $(document).ready(function() {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square',
                radioClass: 'iradio_square',
                increaseArea: '20%' // optional
            });
        });
    </script>

    <script>
        $(document).ready(function() {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
                increaseArea: '20%' // optional
            });
        });
    </script>
    <script src="assets/js/jquery-1.9.1.min.js"></script> 
    <script src="assets/js/icheck.min.js"></script>
    <script src="assets/js/modernizr.custom.js"></script> 
 
</body>
</html>
